@model IEnumerable<_01_Adivinhas.Models.Adivinhas>

@{
    ViewData["Title"] = "Index - ";
}

<div class="text-center">
    <h1 class="display-4">Welcome to "Adivinhas" Website</h1>
</div>
    <h2>Tente acertar na resposta certa!</h2>

    <form asp-action="Resposta">
        <select>
            <option value="0"></option>
            @foreach(var item in Model)
            {
                <option value="@item.id">@item.pergunta</option>
            }
        </select>

        <button type="submit" class="btn btn-primary">Ver solução</button>
    </form>


