@{
    ViewData["Title"] = "Imobiliária Daniel Ventura";
}

<div class="text-center">

    <h1 class="display-2">Bem-vindo!</h1>
    <h1 class="display-4">À Imobiliária Daniel Ventura</h1>

    <img width="800" alt="Imobiliaria" src="~/images/imobiliaria.jpg"/>

    <h1 class="display-4">Imóveis</h1>

    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@


</div>
