@{
    ViewData["Title"] = "As receitas de Daniel Ventura";
}

<div class="text-center">

    <h1 class="display-2">Bem-vindo!</h1>
    <h1 class="display-4">À minha página de receitas</h1>

    <img width="800" alt="Receitas" src="~/images/receitas.jpg"/>

    <h1 class="display-4">Receitas</h1>

    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@


</div>
